@listItemColor1: #FFFFFF;
@listItemColor1Hover: #CCCCCC;
@listItemColor2: #EEEEEE;
@listItemColor2Hover: #CCCCCC;
@listItemColorActive: #878787;
@ControllContainerColor: #999999;

@small-screen: ~"(max-width : 600px)";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  margin: 0;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: "map nav" "info nav";

  @media @small-screen {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: "toggle" "map" "elevation";

  }


  #toggleButton
  {
    display: none;

    @media @small-screen {
      display: block;
      grid-area: toggle;
    }

  }

  #list {

    @media @small-screen {
      z-index: 20000;
      grid-column: 1;
      grid-row-start: 2;
      grid-row-end: 4;
      display: none;
    }

    grid-area: nav;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "pagination" "list";
    min-width: 0;

    #listControl {
      background: @ControllContainerColor;
      color: white;
      grid-area: pagination;
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      grid-gap: 25px;
      grid-template-areas: "buttonBack paginationInfo buttonNext";
      min-width: 100%;

      #buttonBack {
        grid-area: buttonBack;
        font-size: large;
        padding: 0;
        margin: 0;
        border: 0;

      }

      #Pageindex {
        justify-self: center;
        grid-area: paginationInfo;
      }

      #buttonNext {
        grid-area: buttonNext;
        font-size: large;
        padding: 0;
        margin: 0;

      }

    }

    #listItemsContainer {
      grid-area: list;
      margin: 0;
      list-style: none;
      display: grid;
      padding: 0;
      min-width: 0;
      max-height: 100%;

      .listItem {
        display: grid;
        align-content: center;
        height: 100%;
        margin: 0;
        cursor: pointer;
        align-self: center;
        min-width: 0;
        padding-left: 10px;

        p {
          display: inline-block;
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

      }

      .listItem:nth-child(even) {
        background-color: @listItemColor1;
      }
      .listItem:nth-child(even):hover {
        background-color: @listItemColor1Hover;
      }

      .listItem:nth-child(odd) {
        background-color: @listItemColor2;
      }

      .listItem:nth-child(odd):hover {
        background-color: @listItemColor2Hover;
      }

      .activeTrack {
        background-color: @listItemColorActive !important;
        color: white;
      }

      .spacerelement {
        cursor: default;
      }

      .spacerelement:nth-child(even):hover {
        background-color: @listItemColor1;
        cursor: default;
      }

      .spacerelement:nth-child(odd):hover {
        background-color: @listItemColor2;
        cursor: default;
      }

    }

  }

  #map {
    grid-area: map;
    min-width: 0;
    min-height: 0;

    @media @small-screen {


    }
  }

  #infoContainer {

    @media @small-screen {
      grid-area: elevation;
      grid-template-columns: 1fr;
      grid-template-areas: "infoheader" "canvas";

    }

    grid-area: info;
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 4fr 200px;
    grid-template-areas: "infoheader infoheader" "canvas trackinfos";

    #infoheader {
      grid-area: infoheader;
      display: grid;
      grid-template-columns: 4fr 200px;
      grid-template-areas: "trackname trackdistance";
      align-content: center;
      background: @ControllContainerColor;
      color: white;
      min-width: 0;

      #trackName {
        padding-left: 10px;
        grid-area: trackname;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      #trackDistance {
        padding-right: 10px;
        grid-area: trackdistance;
        justify-self: end;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    #canvasContainer {
      grid-area: canvas;
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;

      #elevation {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }

    }

    #trackInfo {
      @media @small-screen {
        display: none;
      }

      grid-area: trackinfos;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "minHeight" "upHill" "maxHeight" "downHill";
      text-overflow: ellipsis;
      overflow: hidden;
      align-items: center;
      min-width: 0;

      p {
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      #minHeight {
        grid-area: minHeight;
      }

      #upHill {
        grid-area: upHill;
      }

      #maxHeight {
        grid-area: maxHeight;
      }

      #downHill {
        grid-area: downHill;
      }

    }

  }

}
